<a href="https://colab.research.google.com/github/SiYeon-Ju/Colab_work/blob/main/AA_Mutation_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
########### Library ##############
import pandas as pd
import numpy as np
import time

########### Run ############## Positioning Method
seq = input('서열을 집어 넣어 주세요! \n')
position = [100, 101, 102, 103, 142, 143, 168, 185, 186, 187, 190, 211, 215, 216, 217, 218, 219,221,222,515,539,541]
position = [i-1 for i in position] ## 서열이 1번 부터 시작하는 경우
print([seq[int(q)] for q in position])
time.sleep(3)


print(r'############## Procceed ##############')
AA_list = ['G', 'A','V','C','P','L','I','M','W','F','K','R','H','S', 'T', 'Y', 'N', 'Q', 'D', 'E']
candidates = [ [seq[:i] + AA + seq[i+1:], seq[i]+str(i+1)+AA] for AA in AA_list for i in position]
if len(seq.split(' ')) >= 2 : 
    raise('Error 1 : 서열 내 공백 존재')

########### save a csv file for Kcat analysis ##############
print(r'[1] Saving seq lists to csv file')
pd.DataFrame(candidates, columns  = [['Seq','Mutation']]).to_csv('seq_mutation_candidates_Kcat.csv', index = False, header = None)
print(r' --> Success')

서열을 집어 넣어 주세요!
 VPLILDNHPPLFKSRFEKRIMIPLRSKVTTVGRNAAGARALWRATGTKENEFGKPIVAIVNSYTQFVPGHVHLKNVGDIVADAVRKAGGVPKEFNTIAVDDGIAMGHGGMLYSLPSREIIADSVEYMVNAHTADAMVCISNCDKITPGMLNAAMRLNIPVVFVSGGPMEAGKAVVVDGVAHAPTDLITAISASASDAVDDAGLAAVEASACPTCGSCSGMFTANSMNCLTEALGLSLPGNGSTLATHAARRALFEKAGETVVELCRRYYGEEDESVLPRGIATKKAFENAMALDMAMGGSTNTILHILAAAQEGEVDFDLADIDELSKNVPCLSKVAPNSDYHMEDVHRAGGIPALLGELNRGGLLNKDVHSVHSNDLEGWLDDWDIRSGKTTEVATELFHAAPGGIRTTEAFSTENRWDELDTDAAKGCIRDVEHAYTADGGLVVLRGNISPDGAVIKSAGIEEELWNFTGPARVVESQEEAVSVILTKTIQAGEVLVVRYEGPSGGPGMQEMLHPTAFLKGSGLGKKCALITDGRFSGGSSGLSIGHVSPEAAHGGVIGLIENGDIVSIDVHNRKLEVQVSDEELQRRRDAMNASEKPWQPVNRNRVVTKALRAYAKMATSADKGAVRQVD

['D', 'D', 'G', 'I', 'C', 'D', 'M', 'D', 'L', 'I', 'I', 'C', 'G', 'S', 'C', 'S', 'G', 'F', 'T', 'L', 'S', 'G']
############## Procceed ##############
[1] Saving seq lists to csv file
 --> Success

In [ ]:
########### Library ##############
import pandas as pd
import numpy as np
import time

########### Run ############## Positioning Method
seq = input('서열을 집어 넣어 주세요! \n')

print(r'############## Procceed ##############')
AA_list = ['G', 'A','V','C','P','L','I','M','W','F','K','R','H','S', 'T', 'Y', 'N', 'Q', 'D', 'E']
candidates = [ [seq[:i] + AA + seq[i+1:], seq[i]+str(i+1)+AA] for AA in AA_list for i in range(len(seq))]
if len(seq.split(' ')) >= 2 : 
    raise('Error 1 : 서열 내 공백 존재')

########### save a csv file for Kcat analysis ##############
print(r'[1] Saving seq lists to csv file')
pd.DataFrame(candidates, columns  = [['Seq','Mutation']]).to_csv('seq_mutation_candidates_Kcat_Ncam0154.csv', index = False, header = None)
print(r' --> Success')

서열을 집어 넣어 주세요!
 MTASTRSIRTNVTEVLLSGGTYRSLEQQRLSPAEEKFETIRRVSGFILAPLGFLFMLWVPNDMEPTQQKVAAVLIGVILLWLCESLPIPVTALLGVGSMVLIGTAPAAEVLAPFGSTTIFTFIGAFILAQAMLKHGVAQRLAYFVLGLPGVGNSTVRIILAFGGITCVLSAFVSNTATVAMLLPTALGILTVIAQLMQDKGIVKQDFDPLRLRVGAALMLMLAYGASIGGLLTPVGAPPNLIGRGLIEEATGVRISFGQWVMTALPICICMMLALSVILFLVNRPETRRIEGVAEFVAKHKERQGKMSRAEINTVIAFSITVFLWIFPAILGMFIGTDSAIYELVDERLNEGIVAVMGAVLLFILPVESKKLQYTLDWSDAAKIDWGTIILFGCGMIFGAMLGSSGLAETIGSGLNNMLGVSSALVITAMAVLLAILISETTSNTAAAAVTVPIVVPLAMAAGVDPVIPAMAATFGASFGFMLPISTPQNAIVYGSGCVSIARMIRTGISFDIIGGALIIFFLPTVATLVGIG

############## Procceed ##############
[1] Saving seq lists to csv file
 --> Success

In [ ]:
########### Library ##############
import pandas as pd
import numpy as np

########### Run ##############
seq = input('서열을 집어 넣어 주세요! \n')
print(r'############## Procceed ##############')
AA_list = ['G', 'A','V','C','P','L','I','M','W','F','K','R','H','S', 'T', 'Y', 'N', 'Q', 'D', 'E']
candidates = [seq[:i] + AA + seq[i+1:] for AA in AA_list for i in range(len(seq))]
if len(candidates[0].split(' ')) >= 2 : 
    raise('Error 1 : 서열 내 공백 존재')
    
print('서열길이 : ', len(seq), ' /생성된 데이터 개수 : ', len(np.unique(np.array(candidates))))

########### save a csv file for Kcat analysis ##############
print(r'[1] Saving seq lists to csv file')
pd.DataFrame(np.unique(np.array(candidates))).to_csv('seq_mutation_candidates_Kcat.csv', index = False, header = None)
print(r' --> Success')

########### save a csv file for Km analysis ##############
print(r'[2] Saving seq lists to fasta file')
fasta = open("results.fasta" , 'w')
for num,seqs in enumerate(np.unique(np.array(candidates))):
    if num == 0 :
        fasta.write('>Seq' + str(num) +'_test\n' + seqs )
    else :
        fasta.write('\n>' + 'Seq' + str(num) +'_test\n' + seqs )    
fasta.close()
print(r' --> Success', '\n############## Finished ##############')

########### Original seq index searching ##############
data = pd.DataFrame(np.unique(np.array(candidates)))
print('Original Seq index : ', data.loc[data[0]==seq,:].index[0])
print('', data.loc[data[0]==seq,:][0].tolist()[0])

del candidates

#### ETC ####
# candidates = [seq[:i] + AA + seq[i+1:] for AA in AA_list for i in range(len(seq))]
# [[seq[:i] + AA + seq[i+1:] for AA in AA_list] for i in range(len(seq))]

서열을 집어 넣어 주세요!
 AAAAAAAAAAAAAAAAAGGGGGGGGGGGGGGGGGGGGGG

############## Procceed ##############
서열길이 :  39  /생성된 데이터 개수 :  742
[1] Saving seq lists to csv file
 --> Success
[2] Saving seq lists to fasta file
 --> Success
############## Finished ##############
Original Seq index :  110
 AAAAAAAAAAAAAAAAAGGGGGGGGGGGGGGGGGGGGGG

In [ ]:
data2 = pd.read_csv('data', sep = '\t')
data2.describe()

                no  Kcat_C00141  Kcat_C00025    Km_C00141    Km_C00025
count  6974.000000  6974.000000  6974.000000  6974.000000  6974.000000
mean   3487.500000    21.575094    14.199560     0.624317     5.528507
std    2013.364721    21.449917     6.195680     0.041216     0.461852
min       1.000000     0.981200     1.559100     0.359162     1.953199
25%    1744.250000    16.612350    12.400425     0.606117     5.274347
50%    3487.500000    19.200250    13.647700     0.624077     5.516234
75%    5230.750000    20.859500    14.421475     0.644772     5.796722
max    6974.000000   468.643100   117.412600     0.822125     7.581794

In [ ]:
data2.loc[(data2['Kcat_C00141']>=20.86)&(data2['Kcat_C00025']>=14.42)&(data2['Km_C00141']<=0.61)&(data2['Km_C00141']<=5.27), : ]

,no,Protein Sequence,Kcat_C00141,Kcat_C00025,Km_C00141,Km_C00025
4,5,FTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,20.9946,14.5702,0.399236,2.963420
7,8,ITSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,21.4095,14.7578,0.433531,2.999376
11,12,MCSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,23.0484,15.5043,0.567916,4.817057
29,30,MTELEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,21.1375,14.6243,0.599574,5.592118
34,35,MTKLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,21.0445,14.5891,0.557963,5.542189
...,...,...,...,...,...,...
6849,6850,MTSLEFTVTRTENPTSPQRLKEILAAPKFGKYFTDHMVTIDWNESE...,23.0691,15.4254,0.603125,5.178700
6850,6851,MTSLEFTVTRTENPTSPRRLKEILAAPKFGKYFTDHMVTIDWNESE...,21.3262,14.6608,0.582671,4.844327
6883,6884,MTSLEFTVTRTEWPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,22.5259,15.1883,0.598961,5.808252
6965,6966,NTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,20.9806,14.5616,0.399876,2.793862
6966,6967,PTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,21.0907,14.6130,0.393349,2.340523

In [ ]:
n = 750
df1 = data2.sort_values(by='Kcat_C00141', ascending=False).head(n)
df1 = df1[['no','Protein Sequence','Kcat_C00141']]
df2 = data2.sort_values(by='Kcat_C00025', ascending=False).head(n)
df2 = df2[['no', 'Kcat_C00025']]
df3 = data2.sort_values(by='Km_C00141', ascending=True).head(n)
df3 = df3[['no', 'Km_C00141']]
df4 = data2.sort_values(by='Km_C00025', ascending=True).head(n)
df4 = df4[['no', 'Km_C00025']]
df5 = pd.merge(df1,df2,on = 'no')
df5 = pd.merge(df5,df3,on = 'no')
df5 = pd.merge(df5,df4,on = 'no')
df5.to_csv('high_rank.csv', sep =',', index = False)
df5

,no,Protein Sequence,Kcat_C00141,Kcat_C00025,Km_C00141,Km_C00025
0,3617,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,166.6149,54.6034,0.565952,4.646358
1,3042,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,138.9145,48.1159,0.573270,4.798704
2,3487,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,78.0781,32.6273,0.580595,5.053908
3,3043,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,72.8287,31.1828,0.577943,4.895280
4,3610,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,71.1748,30.2312,0.583330,4.813606
5,3668,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,53.7382,25.3451,0.585171,5.045750
6,3632,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,48.5148,23.8734,0.575436,4.687793
7,2854,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,48.1941,23.8174,0.579879,4.802272
8,3695,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,35.5188,19.6495,0.575254,4.781504
9,3631,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,34.5802,19.3297,0.580531,4.989387
10,6776,MTSLEFTVTRTENPTSPDRLKEIMAAPKFGKYFTDHMVTIDWNESE...,33.5153,19.8679,0.575494,4.860686
11,2917,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,31.9180,18.4212,0.583790,4.756201
12,5604,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,30.1158,18.7384,0.584845,5.026085
13,1589,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,29.7989,18.4703,0.459102,3.459725
14,1514,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,29.7452,18.4671,0.566946,4.990358
15,1272,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,28.1580,17.8093,0.542266,4.738994
16,5268,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,26.7560,17.2215,0.489410,5.064668
17,1321,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,26.5275,17.0396,0.552262,4.899893
18,6051,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,26.1770,16.7341,0.571383,4.971826
19,6324,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,26.0393,16.8248,0.583688,4.819622
20,6738,MTSLEFTVTRTENPTSPDRLKEILACPKFGKYFTDHMVTIDWNESE...,25.0669,16.3619,0.507490,4.167823
21,1277,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,24.9878,16.4047,0.573085,5.017062

In [ ]:
data2.loc[data2['Protein Sequence'] =='MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESEGWHNAQLVPYAPIPMDPATTVFHYGQAIFEGIKAYRHSDETIKTFRPDENAERMQRSAARMAMPQLPTEDFIKALELLVDADQDWVPEYGGEASLYLRPFMISTEIGLGVSPADAYKFLVIASPVGAYFTGGIKPVSVWLSEDYVRAAPGGTGDAKFAGNYAASLLAQSQAAEKGCDQVVWLDAIEHKYIEEMGGMNLGFIYRNGDHVKLVTPELSGSLLPGITRKSLLQVARDLGYEVEERKITTTEWEEDAKSGAMTEAFACGTAAVITPVGTVKSAHGTFEVNNNEVGEITMKLRETLTGIQQGNVEDQNGWLYPLVG',:]

,no,Protein Sequence,Kcat_C00141,Kcat_C00025,Km_C00141,Km_C00025
3284,3285,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,19.447,13.7781,0.610144,5.275672

In [ ]:
data2.loc[data2['no'] ==3285,:]

,no,Protein Sequence,Kcat_C00141,Kcat_C00025,Km_C00141,Km_C00025
3284,3285,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,19.447,13.7781,0.610144,5.275672

In [ ]:
n = 750
df1 = data2.sort_values(by='Kcat_C00141', ascending=True).head(n)
df1 = df1[['no','Protein Sequence','Kcat_C00141']]
df2 = data2.sort_values(by='Kcat_C00025', ascending=True).head(n)
df2 = df2[['no', 'Kcat_C00025']]
df3 = data2.sort_values(by='Km_C00141', ascending=False).head(n)
df3 = df3[['no', 'Km_C00141']]
df4 = data2.sort_values(by='Km_C00025', ascending=False).head(n)
df4 = df4[['no', 'Km_C00025']]
df5 = pd.merge(df1,df2,on = 'no')
df5 = pd.merge(df5,df3,on = 'no')
df5 = pd.merge(df5,df4,on = 'no')
df5.to_csv('low_rank.csv', sep =',', index = False)
df5

,no,Protein Sequence,Kcat_C00141,Kcat_C00025,Km_C00141,Km_C00025
0,4242,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,1.5539,2.8899,0.675541,6.082073
1,4093,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,3.7861,5.2884,0.696272,6.623354
2,2545,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,4.6975,6.5467,0.676988,6.289672
3,2397,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,5.5074,7.1354,0.693733,6.715564
4,2635,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,6.7048,7.7837,0.817145,6.771095
5,2561,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,6.7422,7.9013,0.700612,6.143774
6,2403,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,6.8907,7.9909,0.684907,6.140139
7,3418,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,9.0364,9.3025,0.672208,6.662928
8,3922,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,9.1727,9.2039,0.782913,6.753652
9,2523,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.1769,9.5100,0.682411,6.126095
10,3731,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.4098,9.7989,0.680288,6.061910
11,3123,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.5214,9.8127,0.668756,6.628713
12,4099,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.5938,9.8593,0.682207,6.868554
13,2478,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.6689,9.8691,0.679482,6.626364
14,4211,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,10.9349,10.0295,0.741590,6.415271
15,2644,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,11.3481,9.8316,0.791036,6.709814
16,4106,MTSLEFTVTRTENPTSPDRLKEILAAPKFGKYFTDHMVTIDWNESE...,11.8426,10.2139,0.687578,6.592649