<a href="https://colab.research.google.com/github/SiYeon-Ju/Colab_work/blob/main/Gene_SGL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = 2
print('ho', "완벽" if a == b else ('Hi' if a == 1 else 'kia'))

ho Hi

In [60]:
import pandas as pd
import numpy as np

data = pd.read_csv('data', sep = '\t')
data

,Reaction Name,Reaction,Gene*,Gene_name (Model Description)
0,EAOXRED,h_c + nadh_c + oxEA_c --> nad_c + rdEA_c,CQW49_14855,pyridine nucleotide disulphide oxidoreductase
1,IMPC,fprica_c <=> h2o_c + imp_c,CQW49_01745,inosine monophosphate cyclohydrolase
2,HACD8i,3hodcoa_c + nad_c <=> 3oodcoa_c + h_c + nadh_c,CQW49_15495 and CQW49_15500,3 hydroxyacyl CoA dehydrogenase n 18 0
3,PANTS,ala_B_c + atp_c + pant_R_c --> amp_c + h_c + p...,CQW49_04620,pantothenate synthetase
4,IMPD,h2o_c + imp_c + nad_c <=> h_c + nadh_c + xmp_c,CQW49_01165,IMP dehydrogenase
...,...,...,...,...
1038,PPK2,atp_c + ppi_c --> adp_c + pppi_c,CQW49_02850,Polyphosphate kinase
1039,HAMR,2.0 h_c + ham_c + nadh_c --> h2o_c + nad_c + n...,CQW49_14985,Hydroxylamine reductase
1040,HAORipp,2.0 ficytc_c + h2o_p + ham_p --> 2.0 focytc_c ...,MCA0955 and MCA0956,Hydroxylamine oxydoreductase
1041,ACSPW,2.0 accoaa_c + accoab_c --> 3.0 accoa_c,NaN,Acetyl-CoA synthesis from 2 pathways
1042,PBHB_EX,pbhb_c -->,NaN,PBHB_EX

In [61]:
data2 = pd.DataFrame([], columns = data.columns)
for i in data.index:
  print(data.iloc[i,2])
  if  str(data.iloc[i,2]) != 
  GeneList = [y.replace('(','').replace(')','') for k in data.iloc[i,2].split(' and ') for y in k.split(' or ')]
  cash = data.iloc[i,:]
  for rxn in GeneList :
    cash[2] = rxn
    data2 = pd.concat([data2, cash])

CQW49_14855
CQW49_01745
CQW49_15495 and CQW49_15500
CQW49_04620
CQW49_01165
CQW49_18425
CQW49_03695
CQW49_11425
CQW49_03695
nan

AttributeError: ignored

In [71]:
str(data.iloc[9,:][2]) == "nan"

True

In [39]:
seq= '((CQW49_15495 and CQW49_1550)) or MEta1532'
# seq2 = seq.split(' and ')
atr = [y.replace('(','').replace(')','') for k in seq.split(' and ') for y in k.split(' or ')]
atr

['CQW49_15495', 'CQW49_1550', 'MEta1532']